<script type="text/javascript" src="http://localhost/vstms/js/checkaccess.js"></script> 
<div>
<div class="row">
<div class="span12">
<form >
    <div class="form-group vs-input-witdh"> 
    	<div class="radio radio-primary">
    <input type="radio" name="radio1" id="radio1" value="option1" checked>
    <label for="radio1">
        Vendor
    </label>
    <input type="radio" name="radio1" id="radio2" value="option2">
    <label for="radio2">
        Supplier
    </label>
</div>

        <input type="text" class="form-control input-lg" placeholder="Name"> <br>
        <input type="text" class="form-control input-lg" placeholder="Number"> <br>
        <input type="text" class="form-control input-lg" placeholder="Credit peroid"><br>
        <input type="text" class="form-control input-lg" placeholder="Uniquue code"><br>
        <input type="button" class="btn btn-primary pull-right" name="" value="Submit">
    </div>
</form>
</div>
</div>

</div>