<script type="text/javascript" src="http://localhost/vstms/js/checkaccess.js"></script> 
<div ng-controller="dashboardController">
<table class="table tablecolor">
	<thead>
		<tr>
            <th>Due Details</th>
            <th></th>
            <th></th>
            <th></th>
            <th><input type="button" class="btn btn-primary btn-sm" name="" value="View All"></th>

        </tr>

	</thead>
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Due Date</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Carter</td>
            <td>johncarter@mail.com</td>
            <td><input type="button" class="btn btn-success btn-sm" name="" value="Notify"></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Peter</td>
            <td>Parker</td>
            <td>peterparker@mail.com</td>
            <th><input type="button" class="btn btn-success btn-sm" name="" value="Notify"></th>
        </tr>
        <tr>
            <td>3</td>
            <td>John</td>
            <td>Rambo</td>
            <td>johnrambo@mail.com</td>
            <th><input type="button" class="btn btn-success btn-sm" name="" value="Notify"></th>
        </tr>
    </tbody>
</table>

<table class="table tablecolor" style="width:70%">
<thead>
		<tr>
            <th>Daily Collection Details </th>
            <th></th>
            <th><input type="button" class="btn btn-primary btn-sm" name="" value="View All"></th>
        </tr>
	</thead>
<thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Carter</td>
           
        </tr>
        <tr>
            <td>2</td>
            <td>Peter</td>
            <td>Parker</td>
            
        </tr>
        <tr>
            <td>3</td>
            <td>John</td>
            <td>Rambo</td>
            
        </tr>
    </tbody>
</table>
</div>