<script type="text/javascript" src="http://localhost/vstms/js/checkaccess.js"></script> 
<div>
<div class="row">
<div class="span12">
<form ><div class="form-group vs-input-witdh"> 
    <div class="dropdown">
<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
Vendor/Supplier
<span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<li><a href="#">Vender</a></li>
<li><a href="#">Supplier</a></li>
</ul>
</div>
<br>
    <input type="text" class="form-control input-lg" placeholder="Amount"> <br>
    <input type="text" class="form-control input-lg" placeholder="Phone"><br>
    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Narration"></textarea> <br>
    <input type="button" class="btn btn-primary pull-right" name="" value="Pay">
</div>
</form>
</div>
</div>

</div>