<script type="text/javascript" src="http://localhost/vstms/js/checkaccess.js"></script> 
<div>
<div class="row">
<div class="span12">
<form ><div class="form-group vs-input-witdh"> 
    <div class="dropdown">
<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
Vendor/Supplier
<span class="caret"></span>
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<li><a href="#">Vender</a></li>
<li><a href="#">Supplier</a></li>
</ul>
</div>
<br>
<table class="table">
	<tr>
		<th>Name</th>
		
		<td>Nagesh</td>
	</tr>
	<tr>
		<th>Amount</th>
		
		<td>2,000</td>
	</tr>
<tr>
		<th>Pending Amount</th>
		
		<td>INR- 10000</td>
	</tr>

<tr>
		<th> Date</th>
		
		<td>22-05-2017</td>
	</tr>
	<tr>
		<th>Narration</th>
		
		<td> Please Paid reming amount which is due yet</td>
	</tr>
	

</table>
</div>
</form>
</div>
</div>

</div>