<script type="text/javascript" src="http://localhost/vstms/js/checkaccess.js"></script> 
		<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
					<div class="form-group "> 	 
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Bill Number
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#">#1</a></li>
							<li><a href="#">#2</a></li>
							</ul>
						</div>
					<br>

						    <input type="date" class="form-control input-sm" placeholder="Date"> <br>
						    <input type="text" class="form-control input-sm" placeholder="Measure"> <br>
						    <input type="text" class="form-control input-sm" placeholder="Grade"><br>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-9 col-xs-12 vs-input-width">		
					<div class="form-group "> 
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Carpenter
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#">#1</a></li>
							<li><a href="#">#2</a></li>
							</ul>
						</div>
					<br>

					    <input type="text" class="form-control input-sm" placeholder="Telephone"> <br>
					    <input type="text" class="form-control input-sm" placeholder="Customer"> <br>
					    <input type="text" class="form-control input-sm" placeholder="Tel"><br>
					    <input type="text" class="form-control input-sm" placeholder="Credit"><br>
					</div>
				</div>

				<table class="table tablecolor table-striped">
				
			    <thead>
			        <tr>
			            <th>SL</th>
			            <th>Details</th>
			            <th>Log No.</th>
			            <th>Length</th>
			            <th>Gross Girth</th>
			            <th>Less</th>
			            <th>Net Grith</th>
			            <th>Grade</th>
			            <th>C.mtr</th>
			            <th>C.ft</th>
			            <th>Rate</th>
			            <th>Amount</th>


			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>1</td>
			            <td>Mob Sale</td>
			            <td>L23</td>
			            <td>23cm</td>
			            <td>3000</td>
			            <td>23cm</td>
			            <td>32</td>
			            <td>C</td>
			            <td>23cm</td>
			            <td>26cm</td>
			            <td>15</td>
			            <td>250</td>
			           
			        </tr>
			        <tr>
			           <td>2</td>
			            <td>Mob Sale</td>
			            <td>L23</td>
			            <td>23cm</td>
			            <td>3000</td>
			            <td>23cm</td>
			            <td>32</td>
			            <td>C</td>
			            <td>23cm</td>
			            <td>26cm</td>
			            <td>15</td>
			            <td>250</td>
			           
			           
			        </tr>
			        <tr>
			           <td>3</td>
			            <td>Mob Sale</td>
			            <td>L23</td>
			            <td>23cm</td>
			            <td>3000</td>
			            <td>23cm</td>
			            <td>32</td>
			            <td>C</td>
			            <td>23cm</td>
			            <td>26cm</td>
			            <td>15</td>
			            <td>250</td>
			           
			           
			        </tr>
			    </tbody>
			</table>	
			<div class="row">
			<div class=" col-lg-6 col-md-9 com-sm-10 col-xs-12">
				

				<table class="table tablecolor table-striped">
				
			    <thead>
			        <tr>
			            <th>Summary</th>
			            <th>Grade</th>
			            <th>C.mtr</th>
			            <th>C.ft</th>
			            <th>Rate</th>
			            <th>Amount</th>
			                 

			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>1</td>
			            <td>Mob Sale</td>
			            <td>L23</td>
			            <td>23cm</td>
			            <td>3000</td>
			            <td>23cm</td>
			            
			        </tr>
			        <tr>
			           <td>2</td>
			            <td>Mob Sale</td>
			            <td>L23</td>
			            <td>23cm</td>
			            <td>3000</td>
			            <td>23cm</td>
			            
			           
			        </tr>
			        <tr>
			           	<td>3</td>
			            <td>Mob Sale</td>
			            <td>L23</td>
			            <td>23cm</td>
			            <td>3000</td>
			            <td>23cm</td>
			                    
			           
			        </tr>
			    </tbody>
			</table>	
			</div>
			 <div class=" col-lg-3 col-md-4 com-sm-6 col-xs-8">
				
					<div class="form-group">
						<label for="grossamount"> Gorss Amount </label>
					    <input type="text" id="grossamount" class="form-control input-sm">
					    <label for="discount"> Discount </label> 
					    <input type="text" id="discount" class="form-control input-sm" > 
					    <label for="otherexpense"> Other Expense </label> 
					    <input type="text" id="otherexpense" class="form-control input-sm">
					    <label for="saving"> Saving </label> 
					    <input type="text" id="saving" class="form-control input-sm">
					    <label for="expense"> Expense </label> 
					    <input type="text" id="expense" class="form-control input-sm">				
				 </div>
			</div>
			<div class=" col-lg-3 col-md-4 com-sm-6 col-xs-8">
				
					<div class="form-group">
						<label for="granttotal"> Grant total </label>
					    <input type="text" id="granttotal" class="form-control input-sm">
					    <label for="billtotalroff"> Bill total R.off </label> 
					    <input type="text" id="billtotalroff" class="form-control input-sm" > 
					    <label for="cash"> Cash </label> 
					    <input type="text" id="cash" class="form-control input-sm">
					    <label for="billcredit">Bill credit </label> 
					    <input type="text" id="billcredit" class="form-control input-sm"> <br>
					    <input type="submit" name="submit" class="btn btn-primary btn-md pull-right" value="Submit">		
				 </div>
			</div>
			</div>

		</div>